.text {
    padding-bottom: 6.25rem;
    font-size: 1.25rem;
    line-height: 1.75rem;

    &__container {
        max-width: 79.375rem;
    }

    &__box {
        margin-bottom: 6.25rem;
        &:last-child {
            margin-bottom: 0;
        }
    }

    &__subtitle {
        font-size: 2rem;
        line-height: 2.5rem;
        margin-top: 0;
        margin-bottom: 1.875rem;
        text-transform: uppercase;
        font-weight: 900;
    }

    &__divider {
        margin-top: 45px;
    }

    p {
        margin: 0;
        // overflow-wrap: break-word;  
        // word-wrap: break-word;
        // word-break: break-all;  

        & + p {
            margin-top: 15px;
        }
    }

    &__title {
        text-transform: uppercase;
        margin-bottom: 1.875rem;
        margin-top: 0;
    }

    ol, ul {
        margin: 0;
        padding-left: 30px;
    }

    ul li {
        padding-left: 5px;
    }

    ul, ul li {
        list-style-type: '•';
    }

    ol {
        list-style-type: decimal;
        margin-top: 25px;
    }

    ol li {
        list-style-type: decimal;
    }
}
