.footer {
    padding: 85px 0;
    background-color: #2d3343;
    font-size: 16px;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: -25px;
    }

    &__col {
        margin: 25px;

        li {
            margin-bottom: 12px;
        }
    }

    &__title {
        font-size: 20px;
        line-height: 28px;
        font-weight: 700;
        margin-bottom: 30px;
        color: $accent;
        text-transform: uppercase;
    }

    &__text {
        max-width: 460px;
        margin-bottom: 40px;
        p {
            margin-bottom: 20px;
        }
    }

    &__copy {
        margin-bottom: 15px;
    }

    &__bottom {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5.625rem;
    }

    &__notification {
        span {
            color: $accent;
        }
    }
}
