.footer {
    padding: 5.3125rem 0;
    background-color: #2d3343;
    font-size: 1rem;
    line-height: 1.5rem;

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        margin: -1.5625rem;
    }

    &__col {
        margin: 1.5625rem;

        li {
            margin-bottom: 12px;
        }
    }

    &__title {
        font-size: 1.25rem;
        line-height: 1.75rem;
        font-weight: 700;
        margin-bottom: 30px;
        color: $accent;
        text-transform: uppercase;
    }

    &__text {
        max-width: 28.75rem;
        margin-bottom: 40px;
        p {
            margin-bottom: 20px;
        }
    }

    &__copy {
        margin-bottom: 15px;
        line-height: 1.125rem;
    }

    &__bottom {
        flex-wrap: wrap;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: 5.625rem;
    }

    &__notification {
        margin-bottom: 15px;
        span {
            color: $accent;
        }
    }
}
