.page-wrapper {

    &__inner {
        display: flex;
        align-items: flex-start;
    }
}
.games {
    padding-top: 1.875rem;
    padding-bottom: 4.375rem;
    &__title {
        margin-bottom: 2.8125rem;
        margin-top: 0;
    }

    &__list {
        display: flex;
        margin-bottom: -50px;
        margin-left: -15px;
        margin-right: -15px;
        flex-wrap: wrap;
        margin-bottom: 4.375rem;
    }

    &__item {
        width: calc(20% - 30px);
        font-size: 1.25rem;
        line-height: 1.5rem;
        margin-bottom: 3.125rem;
        margin-left: 15px;
        margin-right: 15px;
        // a {
        //     display: block;
        // }
    }

    &__btn {
        display: block;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        border: 2px solid $accent;
        border-radius: 5px;
        padding: 10px;
        width: 150px;
        text-align: center;
        opacity: 0;
        transition: .3s ease;

        &--demo {
            border-color: #b425c5;
            top: -100%;
        }

        &--play {
            background-color: $accent;
            bottom: -100%;
        }
    }

    &__name {
        display: block;
    }

    &__img {
        position: relative;
        overflow: hidden;
        margin-bottom: 25px;
        img {
            border-radius: 7px;
            display: flex;
            width: 100%;
            height: 210px;
        }

        &::before {
            position: absolute;
            content: "";
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(#000, 0);
            transition: .3s ease;
        }
    }

    &__btn-wrapper {
        margin-right: 10rem;
        text-align: right;
    }

}
