.roulette-page {
    .text {
        padding-bottom: 5rem;
    }
    .text ul {
        margin-top: 25px;
    }
    .games__list {
        margin-bottom: -2rem;
    }
    .text .container {
        max-width: 1300px;
    }
}